.body {
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
}

.app {
  text-align: center;
  margin-top: 20px;
}

/* AutocompleteBox component  */
.input-autocomplete-with-results {
  background-color: aliceblue;
}

.autocomplete-box-input {
  border: 1px solid #999;
  border-radius: 5px;
  padding: 20px;
}

/* MatchesList component */
.matches-list-title {
  margin-bottom: 10px;
  font-size: large;
  font-weight: bold;
}

.matches-list-wrapper {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 400px;
  min-height: 200px;
  text-align: left;
}

.matches {
  margin-top: 15px;
  overflow-y: auto;
  padding-left: 0;
}

.matches li {
  padding: 6px;
}

.no-matches {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* HighlightedText component */
.match {
  background-color: #fa5a42;
}

.match-char {
  font-weight: bold;
}

.active-match,
.match li:hover {
  background-color: #e0f5ca;
  cursor: pointer;
}
